//  ===Mixins===
@mixin font-navigo {
    font-family: Navigo;
}
@mixin font-als {
    font-family: ALS;
}

//  ===/Mixins===

//  ===Var===
$mob: 430px;
$mid: 1090px;
$midx: 1140px;

// ===/Var===

// ===COMMON===
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    border: none;
}

body {
    @include font-als;
    overflow: scroll;
}
.inner {
    max-width: 1400px;
    margin: 0 auto;
}
@media (max-width: 630px) {
    .xl {
        display: none;
    }
    .sm {
        display: block;
    }
}
button {
    max-width: 213px;
    height: 54px;
    border-radius: 10px;

    background: #fee600;
    @include font-als;
    font-size: 18px;
    font-weight: 500;
    padding-top: 6px;

    cursor: pointer;

    &:hover {
        background: #fed500;
    }
    &:active {
        background: darken(#fed500, 6%);
    }
    &:disabled {
        background: #e1e1e3;
        color: #a2a4a6;
    }
}
.fixed-btn-mob {
    display: none;
    @media (max-width: $mob) {
        display: block;
        button {
            z-index: 10;
            width: 100%;
            max-width: 430px;
            border-radius: 0;
            position: fixed;
            bottom: 0;
        }
    }
}

// ===/COMMON===

// ===Hader===
.header {
    @media (min-width: 630px) {
        .sm {
            display: none;
        }
    }

    padding: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        display: flex;

        .logo-raiff {
            border-right: 1px solid #e1e1e3;
            padding-right: 33px;
            margin-right: 35px;
        }
        .logo-visa {
            margin: auto 0;
        }
    }

    &__phone {
        @include font-als;
        .number {
            font-size: 20px;
        }
        .phone-info {
            font-size: 13px;
            color: #808185;
            text-align: right;
        }
        svg {
            display: none;
            cursor: pointer;
        }
        @media (max-width: $mid) {
            .number {
                display: none;
            }
            .phone-info {
                display: none;
            }
            svg {
                margin-left: 20px;
                display: block;
            }
        }
    }
}
// ===/Hader===

// ===Promo===
.promo {
    height: 550px;
    position: relative;

    padding-top: 80px;
    padding-left: 120px;
    padding-bottom: 80px;
    @media (max-width: $mob) {
        padding-top: 24px;
        padding-left: 16px;
    }

    &__sticker {
        margin-bottom: 13px;
    }
    &__title {
        @include font-navigo;
        font-size: 60px;
        font-weight: 700;
        line-height: 70px;
        color: #ffffff;
        max-width: 516px;
        display: flex;
        flex-direction: column;
        @media (max-width: $mob) {
            font-size: 36px;
            font-weight: 700;
            line-height: 42px;
        }

        .num {
            font-weight: 900;
            font-size: 108px;
            margin-top: 26px;
            @media (max-width: $mob) {
                font-size: 64px;
                font-weight: 900;
            }
            .proc {
                font-size: 70px;
                @media (max-width: $mob) {
                    font-size: 42px;
                }
            }
        }
    }
    &__button {
        margin-top: 45px;
        margin-bottom: 40px;
        button {
            width: 213px;
            height: 54px;
        }
        @media (max-width: $mob) {
            display: none;
        }
    }
}
.promo::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    background-image: url("../img/Promo_desk_1920x550.png");
    @media (max-width: 376px) {
        background-image: url("../img/Promo_mob 3.png");
    }
    background-position: top right;
    background-size: inherit;
    background-repeat: no-repeat;
}
// ===/Promo===

// ===Benefits===
.benefits {
    padding: 54px;
    display: flex;
    justify-content: space-around;

    border-bottom: 1px solid #e1e1e3;
    @media (max-width: $mid) {
        flex-wrap: wrap;
    }
    @media (max-width: $mob) {
        flex-direction: column;
    }

    &__box-conditions {
        @include font-navigo;

        .title {
            font-size: 36px;
            font-weight: 700;
            text-align: center;
            @media (max-width: $mob) {
                font-size: 30px;
            }
            .b {
                font-size: 64px;
                @media (max-width: $mob) {
                    font-size: 48px;
                }
            }
        }
        .text {
            @include font-als;
            font-size: 16px;
            font-weight: 400;
            color: #808185;
            text-align: center;
            @media (max-width: $mob) {
                font-size: 14px;
                margin-bottom: 20px;
            }
        }
    }
}
// ===/Benefits===

// ===Cashback===
.cashback {
    padding: 130px 79px;
    &__title {
        @include font-navigo;
        font-size: 48px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 64px;
        @media (max-width: $mid +60px) {
            margin-bottom: 40px;
        }
        @media (max-width: $mob) {
            font-size: 30px;
        }
    }
    &__wrapper-box {
        display: flex;
        justify-content: space-around;
        justify-content: center;
        @media (max-width: $mid +60px) {
            flex-direction: column;
            align-items: center;
        }

        .box-cash {
            max-width: 365px;
            max-height: 180px;
            min-height: 140px;
            min-width: 343px;
            background: #29476b;
            border-radius: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 30px;

            padding-left: 30px;
            padding-bottom: 25px;
            padding-right: 30px;
            @media (max-width: $mid +60px) {
                margin-bottom: 15px;
                margin-right: 0;
            }

            .subtitle {
                font-size: 24px;
                font-weight: 500;
                color: #ffffff;
                margin-top: 30px;
                @media (max-width: $mob) {
                    font-size: 22px;
                }
            }
        }
        .box-cash:nth-last-child(1) {
            padding-right: 0;
        }
    }
    @media (max-width: $mid +60px) {
        padding: 48px 79px;
    }
}
// ===/Cashback===

// ===Calculate===
.calculate {
    padding: 72px 195px 90px 195px;
    background: #f4f4f4;
    @media (max-width: $midx) {
        background: #ffffff;
        padding: 22px 25px 48px 25px;
    }
    @media (max-width: $mob) {
        padding: 22px 15px 48px 15px;
    }

    &__title {
        @include font-navigo;
        font-size: 48px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 26px;
        @media (max-width: $mob) {
            font-size: 30px;
        }
    }
    &__text {
        font-size: 18px;
        font-weight: 400;
        color: #808185;
        text-align: center;
        margin-bottom: 52px;
        @media (max-width: $mob) {
            font-size: 16px;
        }
    }
    &__calc-wrapper {
        display: flex;
        padding: 55px 60px 60px 60px;
        background: #ffffff;
        border-radius: 14px;
        max-width: 1010px;
        margin: 0 auto;

        .wrapper-left {
            border-right: 1px solid #e1e1e3;
            padding-right: 57px;
            @media (max-width: $midx) {
                border: 0;
                padding-right: 0;
            }

            .slider-box {
                margin-bottom: 32px;
                &__top {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    min-width: 340px;

                    .subtitle {
                        font-size: 16px;
                    }
                    .slider-value {
                        @include font-navigo;
                        font-size: 32px;
                        @media (max-width: $midx) {
                            font-size: 24px;
                            font-weight: 400;
                        }
                    }
                }

                &__slider {
                    .slider {
                        .stripe,
                        .stripe-1 {
                            -webkit-appearance: none;
                            width: 100%;
                            min-width: 340px;
                            height: 5px;
                            background: -webkit-linear-gradient(
                                left,
                                #fee600 0%,
                                #fee600 50%,
                                #e1e1e3 50%,
                                #e1e1e3 100%
                            );
                            outline: none;
                        }

                        .stripe::-webkit-slider-thumb,
                        .stripe-1::-webkit-slider-thumb {
                            -webkit-appearance: none;
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            cursor: pointer;
                            background: #fee600;
                            &:hover {
                                background: #fed500;
                            }
                            &:active {
                                background: darken(#fee600, 2%);
                            }
                        }
                    }
                }

                &__bottom {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 17px;
                    min-width: 340px;
                    .text {
                        font-size: 12px;
                        color: #a2a4a6;
                    }
                }
            }
            .text-info {
                margin-top: 44px;
                font-size: 13px;
                color: #a2a4a6;
                @media (max-width: $midx) {
                    display: none;
                }
                @media (max-width: $mob) {
                    font-size: 12px;
                }
            }
        }

        .wrapper-right {
            padding-left: 56px;
            min-width: 343px;
            .client-info {
                margin-bottom: 65px;
                .title {
                    @include font-navigo;
                    font-size: 32px;
                    font-weight: 700;
                }
            }
            .credit-button {
                margin-top: 12px;
                button {
                    max-width: 204px;
                    width: 204px;
                }
            }
            .text-info {
                display: none;
                color: #808185;
                @media (max-width: $midx) {
                    display: block;
                    margin-top: 24px;
                    padding: 12px 36px 12px 36px;
                    text-align: center;
                    border-top: 1px solid #e1e1e3;
                }
            }
            @media (max-width: $midx) {
                padding-top: 20px;
                padding-left: 0;
                background: #f4f4f4;
                border-radius: 14px;

                .client-info {
                    text-align: center;
                    margin-bottom: 14px;
                }

                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        @media (max-width: $midx) {
            flex-direction: column;
            padding: 0;
        }
    }
}
// ===/Calculate===

// ===Form===
.form {
    padding: 80px 218px 90px 218px;
    @media (max-width: $mid) {
        padding: 48px 0px 60px 0px;
    }

    &__title {
        @include font-navigo;
        font-size: 48px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 44px;
        @media (max-width: $mob) {
            font-size: 30px;
        }
    }
    &__steps {
        display: flex;
        justify-content: space-around;
        margin-bottom: 42px;
        padding-right: 40px;
        padding-left: 40px;
        @media (max-width: $mid) {
            flex-direction: column;
            padding-right: 80px;
            padding-left: 25%;

            margin-bottom: 32px;
        }
        @media (max-width: $mob) {
            padding-right: 32px;
            padding-left: 32px;
            margin-bottom: 32px;
        }

        .steps-box {
            display: flex;
            margin-right: 40px;
            @media (max-width: $mid) {
                margin-bottom: 25px;
                align-items: center;
                margin-right: 0;
            }
            svg {
                margin-right: 14px;
                min-width: 21px;
            }
            .subtitle {
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
            }
        }
        .steps-box:nth-last-child(1) {
            margin-right: 0;
        }
    }
    &__field {
        border: 1px solid #e1e1e3;
        border-radius: 12px;
        height: 511px;
        display: flex;
        justify-content: center;
        align-items: center;
        .text {
            font-size: 18px;
            font-weight: 400;
            color: #a2a4a6;
        }
        @media (max-width: $mid) {
            border: 0;
            border-radius: 0;
            width: 100%;
            height: 511px;
            background: #f4f4f4;
        }
    }
}
// ===/Form===

// ===r-online===
.r-online {
    background: #424548;
    padding: 80px 130px 80px 130px;
    
    .sm {
        display: none;
    }
    @media (max-width: 630px) {
        .xl {
            display: none;
        }
        .sm {
            display: block;
        }
        padding: 53px 0px 30px 10px;
    }
    

    &__title {
        @include font-navigo;
        font-size: 48px;
        font-weight: 700;
        color: #ffffff;
        text-align: center;
        margin-bottom: 17px;
        @media (max-width: $mob) {
            font-size: 30px;
        }
    }
    &__text {
        font-size: 18px;
        font-weight: 400;
        color: #ffffff;
        text-align: center;
        margin-bottom: 64px;
        @media (max-width: 630px) {
            margin-bottom: 32px;
        }
        @media (max-width: $mob) {
            font-size: 16px;
        }
    }

    &__screens-slider {
        margin: 0 auto;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #424548;

  
  @media (max-width: 430px) {
    flex-direction: column;
    .next, .prev{
      display: none;
    }
  }
  button{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
  }

  .slider-sc{
    display: flex;
    flex-direction: column;
    background: #424548;
    overflow: hidden;
  
    width: 1020px;
    height: 390px;
  
    margin-left: 20px;
    margin-right: 40px;
    position: relative;
    @media (max-width: 430px) {
      padding-left: 15px;
      padding-right: 0;
      overflow: scroll;
      overflow-y: hidden;
  
      height: 340px;
      width: 100%;
      margin-right: 0;
      margin-left: 0;
    }
    &__screen-box{
      background: #424548;
      display: flex;
     
      position: absolute;
      left: 20px;
      .screen{
        background: #2B2D33;
        width: 235px;
        height: 380px;
        border-radius: 14px;
        display: flex;
        justify-content: center;
        margin-right: 20px;
        padding: 60px 24px 0px 24px;
        @media (max-width: 430px) {
          width: 210px;
          height: 340px;
        }
      }
      
    }
  }

  .slider-sc::-webkit-scrollbar {
    width: 0;
  }
  .dots{
    
    margin-top: 30px;
    display: none;
    .dot{
      border: 1px solid #ffffff;
      border-radius: 18px;
      width: 7px;
      height: 7px;
  
      margin-right: 3px;
    }
    .active{
      border: 0;
      background: rgb(250, 225, 0);
    }
    @media (max-width: 430px) {
      display: block;
      display: flex;
      justify-content: center;
      align-items: center;
      .dot{
  
      }
      
    }
  }
    }

   
    &__button {
        display: flex;
        justify-content: center;
        button {
            min-width: 265px;
            height: 54px;
            font-size: 18px;
            font-weight: 500;
        }
    }
}
// ===/r-online===

// ===Footer===
.footer {
    margin-top: 90px;
    padding-bottom: 50px;
    @media (max-width: $mob) {
        padding-bottom: 60px;
    }
    .text-info {
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
        color: #808185;
        @media (max-width: $mob) {
            font-size: 12px;
        }
    }
    &__credits {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #e1e1e3;
        border-bottom: 1px solid #e1e1e3;
        padding: 29px 130px;
        .text-info {
            margin-right: 20px;
            @media (max-width: $mob) {
                margin-right: 0;
                margin-bottom: 25px;
            }
        }
        .text-info:nth-last-child(1) {
            margin-right: 0;
            @media (max-width: $mob) {
                margin-bottom: 0;
            }
        }
        @media (max-width: $mob) {
            flex-direction: column;
            padding: 27px 16px;
        }
    }
    &__legal {
        padding: 47px 130px;
        @media (max-width: $mob) {
            padding: 27px 16px;
        }

        .frame {
            overflow: scroll;
            overflow-x: hidden;
            height: 122px;
            padding-right: 30px;
        }
        .frame::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }

        .frame::-webkit-scrollbar-track-piece {
            background-color: #e1e1e3;
        }
        .frame::-webkit-scrollbar-thumb {
            height: 48px;
            width: 5px;
            background-color: #808185;
            border-radius: 4px;

            &:hover {
                background: darken(#808185, 6%);
            }
            &:active {
                background: darken(#808185, 10%);
            }
        }
    }
}
// ===/Footer===
