* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  border: none;
}

body {
  font-family: ALS;
}

.inner {
  max-width: 1400px;
  margin: 0 auto;
}

button {
  width: 213px;
  height: 54px;
  border-radius: 10px;
  background: #fee600;
  font-family: ALS;
  font-size: 18px;
  font-weight: 500;
  padding-top: 6px;
  cursor: pointer;
}

button:hover {
  background: #fed500;
}

button:active {
  background: #dfbb00;
}

button:disabled {
  background: #e1e1e3;
  color: #a2a4a6;
}

.header {
  padding: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo .logo-raiff {
  border-right: 1px solid #e1e1e3;
  padding-right: 33px;
  margin-right: 35px;
}

.header__logo .logo-visa {
  margin: auto 0;
}

.header__phone {
  font-family: ALS;
}

.header__phone .number {
  font-size: 20px;
}

.header__phone .phone-info {
  font-size: 13px;
  color: #808185;
  text-align: right;
}

.promo {
  height: 550px;
  position: relative;
  padding-top: 80px;
  padding-left: 120px;
  padding-bottom: 80px;
}

.promo__sticker {
  margin-bottom: 13px;
}

.promo__title {
  font-family: Navigo;
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
  color: #ffffff;
  max-width: 516px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.promo__title .num {
  font-weight: 900;
  font-size: 108px;
  margin-top: 26px;
}

.promo__title .num .proc {
  font-size: 70px;
}

.promo__button {
  margin-top: 45px;
}

.promo__button button {
  width: 213px;
  height: 54px;
}

.promo::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  background-image: url("../img/Promo_desk_1920x550.png");
  background-position: top right;
  background-size: inherit;
  background-repeat: no-repeat;
}

.benefits {
  padding: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: 1px solid #e1e1e3;
}

.benefits__box-conditions {
  font-family: Navigo;
}

.benefits__box-conditions .title {
  font-size: 36px;
  font-weight: 700;
}

.benefits__box-conditions .title .b {
  font-size: 64px;
}

.benefits__box-conditions .text {
  font-family: ALS;
  font-size: 16px;
  font-weight: 400;
  color: #808185;
  text-align: center;
}

.cashback {
  padding: 130px 79px;
}

.cashback__title {
  font-family: Navigo;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 64px;
}

.cashback__wrapper-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cashback__wrapper-box .box-cash {
  max-width: 365px;
  max-height: 180px;
  background: #29476b;
  border-radius: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 30px;
  padding-left: 30px;
  padding-bottom: 25px;
  padding-right: 30px;
}

.cashback__wrapper-box .box-cash .subtitle {
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  margin-top: 30px;
}

.cashback__wrapper-box .box-cash:nth-last-child(1) {
  padding-right: 0;
  margin-right: 0;
}

.calculate {
  padding: 72px 195px 90px 195px;
  background: #f4f4f4;
}

.calculate__title {
  font-family: Navigo;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 26px;
}

.calculate__text {
  font-size: 18px;
  font-weight: 400;
  color: #808185;
  text-align: center;
  margin-bottom: 52px;
}

.calculate__calc-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 55px 60px 60px 60px;
  background: #ffffff;
  border-radius: 14px;
}

.calculate__calc-wrapper .wrapper-left {
  border-right: 1px solid #e1e1e3;
  padding-right: 57px;
}

.calculate__calc-wrapper .wrapper-left .slider-box {
  margin-bottom: 32px;
}

.calculate__calc-wrapper .wrapper-left .slider-box__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculate__calc-wrapper .wrapper-left .slider-box__top .subtitle {
  font-size: 16px;
}

.calculate__calc-wrapper .wrapper-left .slider-box__top .slider-value {
  font-family: Navigo;
  font-size: 32px;
}

.calculate__calc-wrapper .wrapper-left .slider-box__slider .slider .stripe,
.calculate__calc-wrapper .wrapper-left .slider-box__slider .slider .stripe-1 {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: -webkit-linear-gradient(left, #fee600 0%, #fee600 50%, #e1e1e3 50%, #e1e1e3 100%);
  outline: none;
}

.calculate__calc-wrapper .wrapper-left .slider-box__slider .slider .stripe::-webkit-slider-thumb,
.calculate__calc-wrapper .wrapper-left .slider-box__slider .slider .stripe-1::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background: #fee600;
}

.calculate__calc-wrapper .wrapper-left .slider-box__slider .slider .stripe::-webkit-slider-thumb:hover,
.calculate__calc-wrapper .wrapper-left .slider-box__slider .slider .stripe-1::-webkit-slider-thumb:hover {
  background: #fed500;
}

.calculate__calc-wrapper .wrapper-left .slider-box__slider .slider .stripe::-webkit-slider-thumb:active,
.calculate__calc-wrapper .wrapper-left .slider-box__slider .slider .stripe-1::-webkit-slider-thumb:active {
  background: #f4dd00;
}

.calculate__calc-wrapper .wrapper-left .slider-box__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 17px;
}

.calculate__calc-wrapper .wrapper-left .slider-box__bottom .text {
  font-size: 12px;
  color: #a2a4a6;
}

.calculate__calc-wrapper .wrapper-left .text-info {
  margin-top: 44px;
  font-size: 13px;
  color: #a2a4a6;
}

.calculate__calc-wrapper .wrapper-right {
  padding-left: 56px;
}

.calculate__calc-wrapper .wrapper-right .client-info {
  margin-bottom: 65px;
}

.calculate__calc-wrapper .wrapper-right .client-info .title {
  font-family: Navigo;
  font-size: 32px;
  font-weight: 700;
}

.calculate__calc-wrapper .wrapper-right .credit-button {
  margin-top: 12px;
}

.form {
  padding: 80px 218px 90px 218px;
}

.form__title {
  font-family: Navigo;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 44px;
}

.form__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 42px;
  padding-right: 40px;
  padding-left: 40px;
}

.form__steps .steps-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 40px;
}

.form__steps .steps-box svg {
  margin-right: 14px;
  min-width: 21px;
}

.form__steps .steps-box .subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.form__steps .steps-box:nth-last-child(1) {
  margin-right: 0;
}

.form__field {
  border: 1px solid #e1e1e3;
  border-radius: 12px;
  max-width: 964px;
  height: 511px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__field .text {
  font-size: 18px;
  font-weight: 400;
  color: #a2a4a6;
}

.r-online {
  background: #424548;
  padding: 80px 130px 80px 130px;
}

.r-online__title {
  font-family: Navigo;
  font-size: 48px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  margin-bottom: 17px;
}

.r-online__text {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  margin-bottom: 64px;
}

.r-online__screens-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
}

.r-online__screens-slider .control-button {
  margin-right: 20px;
}

.r-online__screens-slider .control-button button {
  height: 42px;
  width: 42px;
}

.r-online__screens-slider .control-button:nth-last-child(1) {
  margin-right: 0;
  margin-left: 20px;
}

.r-online__screens-slider .screens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.r-online__screens-slider .screens__box {
  background: #2b2d33;
  border-radius: 14px;
  padding: 60px 24px 0px 24px;
  margin-right: 20px;
}

.r-online__screens-slider .screens__box img {
  position: relative;
  bottom: -8px;
}

.r-online__screens-slider .screens__box:nth-last-child(1) {
  margin-right: 0;
}

.r-online__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.r-online__button button {
  min-width: 265px;
  height: 54px;
  font-size: 18px;
  font-weight: 500;
}

.footer {
  margin-top: 90px;
  padding-bottom: 50px;
}

.footer .text-info {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #808185;
}

.footer__credits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #e1e1e3;
  border-bottom: 1px solid #e1e1e3;
  padding: 29px 130px;
}

.footer__legal {
  padding: 47px 130px;
}

.footer__legal .frame {
  overflow: scroll;
  overflow-x: hidden;
  height: 122px;
  padding-right: 30px;
}

.footer__legal .frame::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.footer__legal .frame::-webkit-scrollbar-track-piece {
  background-color: #e1e1e3;
}

.footer__legal .frame::-webkit-scrollbar-thumb {
  height: 48px;
  width: 5px;
  background-color: #808185;
  border-radius: 4px;
}

.footer__legal .frame::-webkit-scrollbar-thumb:hover {
  background: #717276;
}

.footer__legal .frame::-webkit-scrollbar-thumb:active {
  background: #67686b;
}
