@font-face {
    font-family: Navigo;
    src: url("Navigo-Bold-Desktop.otf") format("opentype");
}
@font-face {
    font-family: Navigo;
    src: url("Navigo-Regular-Desktop.otf") format("opentype");
}
@font-face {
    font-family: Navigo;
    src: url("Navigo-Black-Desktop.otf") format("opentype");
}
